---
import Section from "../Section.astro"
import { basics } from "@/cv.json";
const { name, label, image, email, phone, url, summary, location, adress, postalCode  } = basics; 
---

<Section title="Acerca de mí">
    <div class="container mx-auto p-0">

        <h2>
            {summary}
        </h2>
    </div>
    
</Section>

