---
import Section from "../Section.astro";
import { works } from "@/cv.json";
const { workname, workposition, workurl, workstartDate, workendDate, summary, workhighlights } = works;
---

<Section title="Experiencia Laboral"> 
  {works.map((work)=> (

<div class="p-2">
  
  <h2 class="font-bold text-md py-4">{work.name}</h2>
  <h2>{work.summary}</h2>
  </div>

  ))}

</Section>
