---
import Section from "@/components/Section.astro"

---

<Section title="Footer">
    <footer class="mx-auto px-3 py-3">
        <div class="">
 
        </div>
        <p>© 2024 - CristianRuiz.com.ar</p>

    </footer>
</Section>