---
import { basics } from "@/cv.json";
import Section from "@/components/Section.astro";
const { name, label, image, email } = basics;
---

<Section>
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="flex flex-col sm:flex-row justify-center gap-8 items-center">
      
      <figure class="w-24 h-24 sm:w-36 sm:h-36 rounded-full overflow-hidden">
        <img src={image} alt={name} class="w-full h-full object-cover" />
      </figure>

      <div class="text-center sm:text-left">
        <h1 class="text-3xl sm:text-5xl">{name}</h1>
        <h2 class="text-lg sm:text-xl py-3">{label}</h2>
      </div>

    </div>
  </div>
</Section>
