---
import Section from "../Section.astro";
---

<Section>
  <nav class="fixed top-4 left-20 right-20 rounded-md z-50 py-1 px-2 bg-gray-100 shadow-lg backdrop-blur-lg backdrop-filter backdrop-opacity-60">
    <div class="max-w-6xl mx-auto px-4 flex justify-between items-center">
      <a href="/">
        <img class="w-12 h-12" src="/img/crlogo.png" alt="Logo de CR">
      </a>
      <div class="hidden md:flex space-x-4">
        <a class="py-5 px-3 hover:bg-gray-200 font-semibold rounded-md text-slate-700" href="/">Inicio</a>
        <a class="py-5 px-3 hover:bg-gray-200 font-semibold rounded-md text-slate-700" href="#about">Acerca de Mi</a>
        <a class="py-5 px-3 hover:bg-gray-200 font-semibold rounded-md text-slate-700" href="#experience">Experiencia Laboral</a>
        <a class="py-5 px-3 hover:bg-gray-200 font-semibold rounded-md text-slate-700" href="#education">Educación</a>
        <a class="py-5 px-3 hover:bg-gray-200 font-semibold rounded-md text-slate-700" href="#lang">Idioma</a>
        <a class="py-5 px-3 hover:bg-gray-200 font-semibold rounded-md text-slate-700" href="#projects">Proyectos</a>
        <a class="py-5 px-3 hover:bg-gray-200 font-semibold rounded-md text-slate-700" href="#skills">Habilidades</a>
      </div>
      <button class="md:hidden">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
    <div class="mobile-menu hidden md:hidden">
      <a class="block py-2 px-4 text-sm hover:bg-gray-200" href="/">Inicio</a>
      <a class="block py-2 px-4 text-sm hover:bg-gray-200" href="#about">Acerca de Mi</a>
      <a class="block py-2 px-4 text-sm hover:bg-gray-200" href="#experience">Experiencia Laboral</a>
      <a class="block py-2 px-4 text-sm hover:bg-gray-200" href="#education">Educación</a>
      <a class="block py-2 px-4 text-sm hover:bg-gray-200" href="#lang">Idioma</a>
      <a class="block py-2 px-4 text-sm hover:bg-gray-200" href="#projects">Proyectos</a>
      <a class="block py-2 px-4 text-sm hover:bg-gray-200" href="#skills">Habilidades</a>
    </div>
  </nav>
</Section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const mobileMenuButton = document.querySelector('nav > div > button');
    const mobileMenu = document.querySelector('.mobile-menu');
    mobileMenuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  });
</script>

<style>
  /* Aquí podrías agregar estilos personalizados si es necesario */
</style>
