---
import Section from "../Section.astro";
import { skills } from "@/cv.json";
---


<Section title="Habilidades">

    <div class="flex flex-col gap-2 w-full text-">
        {skills.map( (skill)=> (
            <div class="p-1 font-medium">
                <h2>{skill.name}</h2>
                
            </div>
            
            <div>
                <h2>Lv.: {skill.level}</h2>    
            </div>

            <div class="flex gap-1 bg-gray-400 text-blue-800 font-medium w-auto h-auto">
            
                <p class="ml-2 px-32"> {skill.keywords}</p>    
            
            </div>

        ) )}
    </div>

</Section>
