---
import Section from "@/components/Section.astro";
import { basics } from "@/cv.json";
---

<Section title="Acerca de mí" >
    <div class="flex-start mx-auto p-0 bg-white" id="about">

        <h2>
            {basics.summary}
        </h2>
    </div>
    
</Section>

