---
import About from "@/pages/About.astro";
import Education from "@/pages/Education.astro";
import Experience from "@/pages/Experience.astro";
import Hero from "@/components/Sections/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/pages/Projects.astro";
import Skills from "@/pages/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import CustomBackground from "@/components/CustomBackground.astro";
import Lang from "@/pages/Lang.astro";
import NavBar from "@/components/Sections/NavBar.astro";
import Footer from "@/components/Sections/Footer.astro";

---


<Layout title="Cristian Ruiz Portfolio">


      <CustomBackground />
      <NavBar />
      <main>
        <Hero id="hero"/>
        <About id="about"/>
        <Experience id="experience" />
        <Education id="education"/>
        <Lang  id="lang"/>
        <Projects id="projects"/>
        <Skills id="skills"/>
      </main>
      <Footer />
      <KeyboardManager />
    </Layout>
  

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
