---
import About from "@/components/Sections/About.astro";
import Education from "@/components/Sections/Education.astro";
import Experience from "@/components/Sections/Experience.astro";
import Hero from "@/components/Sections/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/Sections/Projects.astro";
import Skills from "@/components/Sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import CustomBackground from "@/components/CustomBackground.astro"
import Lang from "@/components/Sections/Lang.astro";
---

<Layout title="Cristian Ruiz Portfolio">
  <main >
    <Hero />
    <About />
    <Experience />
    <Education />
	<Lang />
    <Projects />
    <Skills />
</main>
<KeyboardManager />
<CustomBackground />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  
</style>
