---
import Section from "../components/Section.astro";
import { languages } from "@/cv.json";

---
<Section title="Idioma" > 
    <div class="mt-2 py-5 bg-white dark:bg-gray-800 text-gray-900 dark:text-white" id="lang">
        {
          languages.map((lang) => (
            <>
              <p class="py-3 font-bold ">{lang.language}:</p>
              <p class="pl-2  ">{lang.fluency}</p>
            </>
          ))
        }
      </div>
      
</Section>
