---
const { title } = Astro.props;
---
<div class="relative h-full w-full bg-neutral-900"><div class="absolute inset-0 bg-fuchsia-400 bg-[size:20px_20px] opacity-20 blur-[100px]"></div></div>
<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 800px;
    margin: 72px auto auto
  }

  h2 {
    margin-bottom: 4px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.5rem;
  }
</style>
